@import "tailwindcss";

@theme {
  /* === Colors === */
  --color-primary: #4880EE;
  --color-red: #E84118;
  --color-gray: #DADADA;
  --color-light-gray: #F2F4F6;
  --color-white: #ffffff;
  --color-black: #222222;

  --color-t-primary: #353C49;
  --color-t-secondary: #6D7582;
  --color-t-title: #1A1E27;
  --color-t-sub-title: #8D94A0;

  /* === Max Width === */
  --max-w-base: 1320px;
  --max-w-3/10: 30%;
  --max-w-1/2: 50%;
  --max-w-7/10: 70%;
  --max-w-4/5: 80%;

  /* === Border-width === */
  --border-1: 1px;
  --border-6: 6px;

  /* === Font sizes === */
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-xs: 0.75rem;
  --text-13: 0.8125rem;
  --text-sm: 0.875rem;
  --text-15: 0.9375rem;
  --text-default: 1rem;
  --text-17: 1.0625rem;
  --text-lg: 1.125rem;
  --text-19: 1.1875rem;
  --text-xl: 1.25rem;
  --text-21: 1.3125rem;
  --text-22: 1.375rem;
  --text-23: 1.4375rem;
  --text-2xl: 1.5rem;
  --text-25: 1.5625rem;
  --text-26: 1.625rem;
  --text-27: 1.6875rem;
  --text-28: 1.75rem;
  --text-29: 1.8125rem;
  --text-3xl: 1.875rem;
  --text-31: 1.9375rem;
  --text-32: 2rem;
  --text-33: 2.0625rem;
  --text-34: 2.125rem;
  --text-35: 2.1875rem;
  --text-4xl: 2.25rem;
  --text-37: 2.3125rem;
  --text-38: 2.375rem;
  --text-39: 2.4375rem;
  --text-40: 2.5rem;
  --text-41: 2.5625rem;
  --text-42: 2.625rem;
  --text-43: 2.6875rem;
  --text-44: 2.75rem;
  --text-45: 2.8125rem;
  --text-48: 3rem;
  --text-56: 3.5rem;
  --text-60: 3.75rem;
  --text-70: 4.375rem;
  --text-90: 5.625rem;

  /* === Spacing === */
  --spacing-0.5: 0.125rem;
  --spacing-0.75: 0.1875rem;
  --spacing-1: 0.25rem;
  --spacing-1.25: 0.3125rem;
  --spacing-1.5: 0.375rem;
  --spacing-2.5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3.5: 0.875rem;
  --spacing-3.75: 0.9375rem;
  --spacing-4.5: 1.125rem;
  --spacing-5: 1.25rem;
  --spacing-5.5: 1.375rem;
  --spacing-6: 1.5rem;
  --spacing-6.25: 1.5625rem;
  --spacing-6.5: 1.625rem;
  --spacing-7: 1.75rem;
  --spacing-7.5: 1.875rem;
  --spacing-8: 2rem;
  --spacing-8.5: 2.125rem;
  --spacing-8.75: 2.1875rem;
  --spacing-9.25: 2.3125rem;
  --spacing-10: 2.5rem;
  --spacing-10.5: 2.625rem;
  --spacing-11.5: 2.875rem;
  --spacing-12.5: 3.125rem;
  --spacing-13: 3.25rem;
  --spacing-14: 3.5rem;
  --spacing-15: 3.75rem;
  --spacing-15.5: 3.875rem;
  --spacing-16.25: 4.0625rem;
  --spacing-17: 4.25rem;
  --spacing-17.5: 4.375rem;
  --spacing-18: 4.5rem;
  --spacing-18.5: 4.625rem;
  --spacing-19: 4.75rem;
  --spacing-19.5: 4.875rem;
  --spacing-21: 5.25rem;
  --spacing-22: 5.5rem;
  --spacing-22.5: 5.625rem;
  --spacing-25: 6.25rem;
  --spacing-30: 7.5rem;
  --spacing-33: 8.25rem;
  --spacing-35: 8.75rem;
  --spacing-36: 9rem;
  --spacing-36.5: 9.625rem;
  --spacing-37.5: 9.375rem;
  --spacing-44: 10.75rem;
  --spacing-45: 11.25rem;
  --spacing-46: 11.5rem;
  --spacing-50: 12.5rem;
  --spacing-50.5: 12.625rem;
  --spacing-51: 12.75rem;
  --spacing-56.5: 14.125rem;
  --spacing-59: 14.75rem;
  --spacing-63: 15.75rem;
  --spacing-67: 16.75rem;
  --spacing-67.5: 16.875rem;
  --spacing-1/10: 10%;
  --spacing-1/5: 20%;
  --spacing-3/10: 30%;
  --spacing-2/5: 40%;
  --spacing-3/5: 60%;
  --spacing-7/10: 70%;
  --spacing-4/5: 80%;
  --spacing-9/10: 90%;
}

@layer utilities {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* 폰트 */
html,
body,
pre {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}